.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    cursor: grab;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
}

.horizontal-scroll:active {
    cursor: grabbing;
}

.scroll-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* 기본 스크롤바 스타일 */
.horizontal-scroll::-webkit-scrollbar {
    height: 4px;
    background-color: #ffffff; /* 스크롤바 트랙 배경색 #625244 */
    border-radius: 4px;
}

/* 스크롤바의 드래그 가능한 부분 */
.horizontal-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ffffff, #cacaca, #ffffff); /* 그라데이션 색상 */
    border-radius: 4px; /* 둥근 모서리 */
}

/* 스크롤바 드래그 시 효과 */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #d8cfe6, #36d4c7); /* 더 진한 그라데이션 */
}


/* .horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    cursor: grab;
    gap: 10px;
    padding: 10px;
    scroll-behavior: smooth;
}
  
.horizontal-scroll:active {
    cursor: grabbing;
}
  
.scroll-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
} */